<div class="container my-4">
    <div class="row">
        <div class="col-xs-12">
            <header>
                <h1>About To-Do List</h1>
              </header>
              <main class="my-4">
                <p>Welcome to To-Do List, your personal checklist, where organization meets efficiency. Our mission is to simplify your life by providing a powerful yet user-friendly platform to manage your tasks effortlessly.</p>
                
                <p>With a commitment to innovation and user experience, we've crafted a tool that adapts to your unique workflow. Whether you're a professional striving for productivity or a student managing deadlines, our platform is designed to cater to your needs.</p>
                
                <p>At To-Do List, your personal checklist, we value simplicity, flexibility, and collaboration. Our intuitive interface, flexible functionality, and seamless collaboration features empower you to achieve more, stress less, and stay organized.</p>
                
                <p>Join us on this journey towards a more organized and productive life. Start using To-Do List, your personal checklist today and turn your to-dos into accomplishments!</p>
              </main>
              <footer>
                <p>Developed by Prateek Kumar</p>
              </footer>
        </div>
    </div>
</div>